 @font-face {
   font-family:"ruritaniaoutline ";
   src: url("../../articles/esther/images/ruritaniaoutline.ttf") format("opentype");
} 
@font-face {
   font-family:"Rot-ProtoRoman102R 2";
   src: local("Rot-ProtoRoman102R 2"), url("../../articles/esther/images/Rot-ProtoRoman102R\ 2.otf") format("opentype");
} 
@font-face {
   font-family:"sinistreregular";
   src: local("sinistreragular"), url("../../articles/esther/images/SINISTRE/sinistreregular.otf") format("opentype");
} 



.thumb{
   display: none;
}

#themes legend{
   display: none;
}


body{
    background-color: #f1ebeb;
 font-family:"Rot-ProtoRoman102R 2", serif;
 font-size: large;
}



h1{
   z-index:2;
   font-family:"sinistreregular";
   font-size: 45px;
   margin: -1%;
    bottom: auto;
    text-decoration-line: underline;
    bottom: 0;
    right: 0;
    color: #57070c;
    align-content: left;
    text-align: left;
    margin-bottom: -20px;
    margin-left: auto;
    position: absolute;
   
  
  

   }
h1::first-letter {
   z-index:2;
  font-family: "ruritaniaoutline ";
 font-size:530%;
  font-weight:100;
 margin: -10%;
text-align: left;
  margin-bottom: -20px;
    margin-left: auto;
    position:absolute;

}

body > p{
    font-family: "Rot-ProtoRoman102R 2", serif;
   font-size:100%;
   text-align:left;
   color: rgb(0, 0, 0);
   margin: 2%;
   padding: 10px;
   border-radius: 2%;
   border-style: dotted;
   background-color: #fff9f9;
   border-color:rgb(235, 191, 191);
   font-style: italic;
   }

#themes{
   border-radius: 0%;
   border-width: 0%;
   text-align: center;
    font-family: "sinistreregular";
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    color: #000;
    font-size: 91%;

  
   }

   #themes div{
      position: relative;
      width: 300px;
      height: 60px;
      border-radius: 70px;
      background-color: #fff9f9;
          display: flex;
    align-items: center;
    justify-content: center;
     
   }
   #themes div:hover {
    transform: scale(1.02);
    box-shadow: 0 0 22px #dbd6d6;
    color: #750a11;
}

   input[type="radio"]{
      position: absolute;
      margin: 0;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
   }

#filtres{
z-index:auto;
border-radius: 50%;
border: 1px solid black;
z-index:1;
border-style:dotted;
display:flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 10px;
margin-right: 10%;
padding: 5px;
margin-top: -50px;
float: right;
width: 200px;
height: 200px;
background-color: #fff9f9;
transform: scale(2.OO);
box-shadow: 0 0 9px #9d8a8a;
}


@media (max-width: 600px) {
   #themes div{
      width: 100px;
   }
}

main{
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 5%; 
position:absolute;
width:100%;
justify-content: center;
margin-top: 30%;
    padding: 0 5%;
    box-sizing: border-box;
    margin-left: -3%;
  }
  

 main a{
    border-radius: 1%;
border-color: #57070c;
border-style:dotted;
background-color: #fff9f9;
color: #000;
text-decoration: none;
text-align: center;
border-radius: 70%;
width: 130%;

 }
 main h3 {
   font-family:"Rot-ProtoRoman102R 2";
   text-align: center;
}

main a:hover h3{
   letter-spacing: 3px ;
   transition: all 0.5s linear;
   color: #57070c;
   font-variant: small-caps;
}
 



h3::first-letter{
   font-family:"";

   }

 
 

 











