body{
    background-color: #dbd5d1;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
}

body::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
}

h1{
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: right;
    width: 50%;
    font-weight: normal;
    text-transform: uppercase;
    margin: 10px;
    color: #4f5647;
}
h2{
    text-align: right;
    font-weight: normal;
}

body > p{
    position: fixed;
    left: 0;
    top: 0;
    width: 75%;
    margin: 10px;
    color: #4f5647;
}
/* body::after {
    content: ""; 
    display: block; 
    height: 1px; 
    background-color: #4f5647; 
    width: 30%; 
    position: absolute; 
    top: 400px;
  } */

#themes{
    height: 100vh;
    width: 100vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-shrink: 0;
    border: 1px solid #4f5647;
    margin-left: 150px;
    text-transform: uppercase;
    /* background: radial-gradient(#bcd6b9, #dbd5d1); */
}

legend{
    position: absolute;
    left: 12%;
    top: 24%;
    text-transform: uppercase;
    border: 1px solid black;
    border-radius: 50%;
    padding: 1em 3em;
}

#themes div label {
    color: #4f5647;
    text-transform: uppercase;
}


/* #themes div:hover{
    background: radial-gradient(#bcd6b9, #dbd5d1);
} */

input[type="radio"][name="theme"] + label {
    position: relative; 
}

input[type="radio"][name="theme"] + label::before {
    content: '{{'; 
    opacity: 0; 
    transition: opacity 0.3s; 
    margin-right: 0; 
}

input[type="radio"][name="theme"] + label:hover::after {
  content: '}}'; 
  opacity: 0; 
  transition: opacity 0.3s; 
  margin-right: 0; 
}

input[type="radio"][name="theme"] + label:hover::before,
input[type="radio"][name="theme"] + label:hover::after{
    opacity: 1; 
}

div#filtres{
    border: 1px solid #4f5647;
    padding: 20px;
    height: 234px;
    margin-top: 230px;
    margin-left: 90px;
    margin-right: 90px;
    text-transform: uppercase;
    /* margin-top: 500px;
    width: 200px;
    align-self: flex-start; */
}

main{
    display: flex;
    align-items: center;
    gap: 100px;
}

main a{
    flex-shrink: 0;
    text-decoration: none;
    color: #4f5647;
    width: 200px;
}

main a img{
    display: none;
}

main a h3{
    border: 1px solid #4f5647;
    border-radius: 10px;
    height: 200px;
    width: 100%;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    /* background: radial-gradient(#ffff, #b8b4b1); */
}