body{
    background-color: #dbd5d1;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    /* overflow-x: hidden; */
}

body::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
}

h1{
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: right;
    width: 40%;
    font-weight: normal;
    text-transform: uppercase;
    margin: 31px;
    color: #4f5647;
}
h2{
    text-align: right;
    font-weight: normal;
}

body > p{
    position: fixed;
    left: 0;
    top: 0;
    width: 69%;
    margin: 10px;
    color: #4f5647;
    font-style: italic;
    line-height: 1.3;
}
/* body::after {
    content: ""; 
    display: block; 
    height: 1px; 
    background-color: #4f5647; 
    width: 30%; 
    position: absolute; 
    top: 400px;
  } */

#themes{
    height: 93vh;
    width: 93vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-shrink: 0;
    border: 1px solid #4f5647;
    margin-left: 297px;
    margin-top: 19px;
    text-transform: uppercase;
    background: radial-gradient(#bcd6b9 35%, #dbd5d1 65%);
}

legend{
    position: absolute;
    left: 12%;
    top: 24%;
    text-transform: uppercase;
    border: 1px solid black;
    border-radius: 50%;
    padding: 1em 3em;
}

#themes div label {
    color: #4f5647;
    text-transform: uppercase;
    line-height: 2.2;
    font-size: 20px;
}


/* #themes div:hover{
    background: radial-gradient(#bcd6b9, #dbd5d1);
} */

/* #themes div {
    background: #dbd5d1; 
}

#themes div:nth-child(1):hover {
    background: radial-gradient(#FFD700, #dbd5d1); 
    background-clip: border-box;
}
#themes div:nth-child(2):hover {
    background: radial-gradient(#ADD8E6, #dbd5d1); 
    background-clip: border-box;
}
#themes div:nth-child(3):hover {
    background: radial-gradient(#90EE90, #dbd5d1);
    background-clip: border-box; 
}
#themes div:nth-child(4):hover {
    background: radial-gradient(#f4a76e, #dbd5d1); 
    background-clip: border-box;
} */


/* input[type="radio"][name="theme"] + label {
    position: relative; 
} */

/* input[type="radio"][name="theme"] + label::before {
    content: '{{'; 
    opacity: 0; 
    transition: opacity 0.3s; 
    margin-right: 0; 
}

input[type="radio"][name="theme"] + label:hover::after {
  content: '}}'; 
  opacity: 0; 
  transition: opacity 0.3s; 
  margin-right: 0; 
} */
/* 
input[type="radio"][name="theme"] + label:hover::before,
input[type="radio"][name="theme"] + label:hover::after{
    opacity: 1; 
} */

div#filtres{
    border: 1px solid #4f5647;
    padding: 20px;
    height: 234px;
    margin-top: 230px;
    margin-left: 130px;
    margin-right: 130px;
    text-transform: uppercase;
    position: relative;
    background-color: #dbd5d1;
    
    /* margin-top: 500px;
    width: 200px;
    align-self: flex-start; */
}
div#filtres::after {
    content: '';
    position: absolute;
    height: 65px; 
    width: 65px; 
    border: solid #4f5647;
    border-width: 0 1px 1px 0;
    transform: rotate(-45deg);
    bottom: 57px; 
    right: -113px; 
    z-index: 5;
}

div#filtres::before {
    content: '';        
    position: absolute; 
    top: auto;
    bottom: 90px;;         
    height: 1px;        
    background-color: #4f5647; 
    left: -132px;
    right: -125px;      
    z-index: -20;         
}


main{
    display: flex;
    align-items: flex-start;
    gap: 114px;
    margin-top: 250px;
    margin-left: 103px;
}

main a{
    flex-shrink: 0;
    text-decoration: none;
    color: #4f5647;
    width: 200px;
}

main a img{
    display: none;
}

main a h3{
    border: 1px solid #4f5647;
    border-radius: 10px;
    height: 200px;
    width: 100%;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    /* background: radial-gradient(#ffff, #b8b4b1); */
}