body{
    background-image:url(../../articles/lohann/images/abstrait-surface-piscine-eau-texture-fond_74190-9813.webp) ;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: blue;
}

p{
    font-style: italic;
    font-size: medium;
}

#themes{
 display: flex;
 width: 100%;
 overflow-x: auto;
 background-color: aqua;
}

#legend{
    background-color: aqua;
}

#themes div{
 flex-shrink: 0;
}

#a{
 background-color: rgba(242, 213, 22, 0.46);
 image-rendering: pixelated;
 border-image-width: 20%;
}
