@font-face {
    font-family: "KG Primary";
    src: url(../../articles/lohann/images/KGPrimaryPenmanshipAlt.ttf);
}

body {
    background-image: url(../../articles/lohann/images/abstrait-surface-piscine-eau-texture-fond_74190-9813.webp);
    margin: 0;
    font-family: "KG Primary", Verdana, Geneva, Tahoma, sans-serif;
}

#layout {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

#sidebar {
    width: 25%;
    min-width: 220px;
    background-color: rgba(255, 255, 255, 0.4); 
    padding: 10px;
}

main {
    width: 75%;
    padding: 20px;
    position: absolute;
    width: 26%;
    box-sizing: border-box;
    top: 10%;
    height: 100%;
    overflow-y: auto;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    color: blue;
}

body > p {
    font-style: italic;
    font-size: medium;
}

#themes {
    display: flex;
    flex-direction: left column;
    gap: 10px;
    background-color: aqua;
    padding: 10px;
}

#themes legend {
    background-color: aqua;
    padding: 5px;
    block-size: 20%;
}

#themes div {
    flex-shrink: 0;
}

main a h3 {
    font-size: 60px;
    font-family: "KG Primary";
    margin: 0;
    padding: 0;
}

main a{  
  padding: 10px 20px;
  border: 2px solid blue;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  font-size: 22pt;
  text-align: center;
}

main p {
    visibility: hidden;
}

.thumb {
    display: none;
}

a {
    color: rgb(247, 32, 172);
    text-decoration: none;
}

