@font-face {
    font-family: "Adelphe_Trouble";
    src: url("../../articles/léa/images/fontes/Adelphe-Trouble-GerminalSemiBoldItalic\ copie.otf") format("opentype");
}
@font-face {
    font-family: "Adelphe_Trouble_Regular";
    src: url("../../articles/léa/images/fontes/Adelphe-Trouble-GerminalRegular\ copie.otf") format("opentype");
}

body{
    background-color: #ffffff;
}

fieldset{
  position: absolute;
  left: 75%;
  width: 20%;
  box-sizing: border-box;
  top: 10%;
  height: 100%;
  border: 0;
  overflow-y: auto;
  font-family: "Adelphe_Trouble";
}

fieldset legend{
    display: none;
}

fieldset div{
    font-size: 32pt;
    border: 3px solid blue;
    border-radius: 50%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

fieldset div:nth-child(4)::after{
    content: "//";
}fieldset div:nth-child(4)::before{
    content: "//";
}
fieldset div:nth-child(5)::before{
    content: "{";
}
fieldset div:nth-child(5)::after{
       content: "}";
}

#filtres {
  position: absolute;
  left: 30%;
  width: 40%;
  box-sizing: border-box;
  top: 90%;
  height: 100%;
  border: 0;
  overflow-y: auto;
}

main {
  position: absolute;
  left: 2%;
  width: 26%;
  box-sizing: border-box;
  top: 10%;
  height: 100%;
  border: 0;
  overflow-y: auto;
}

h1 {
  width: 40%;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 30%;
  top: 5%;
  text-align: justify;
  font-family: "Adelphe_Trouble";
  font-size: 35pt;
}

p {
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  margin-top: 30%;
  position: absolute;
  left: 30%;
  width: 40%;
  box-sizing: border-box;
  top: -18%;
  height: 100%;
  border: 0;
  font-family: "Adelphe_Trouble_Regular";
  color: blue;display: flex;
  font-size: 20pt;
}
