@font-face {
    font-family: "Adelphe_Trouble";
    src: url("../../articles/léa/images/fontes/Adelphe-Trouble-GerminalSemiBoldItalic\ copie.otf") format("opentype");
}
@font-face {
    font-family: "Adelphe_Trouble_Regular";
    src: url("../../articles/léa/images/fontes/Adelphe-Trouble-GerminalRegular\ copie.otf") format("opentype");
}

body{
    background-color: #edededee;
}

#themes{
  position: absolute;
  left: 75%;
  width: 20%;
  box-sizing: border-box;
  top: 2%;
  height: 100%;
  border: 0;
  overflow-y: auto;
  font-family: "Adelphe_Trouble";
  color:blue
}

#themes legend{
    display: none;
}

#themes div{
    font-size: 32pt;
    border: 3px solid blue;
    border-radius: 50%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
#themes div:nth-child(1)::before{
    content: "{";
}
#themes div:nth-child(1)::after{
       content: "}";
}
#themes div:nth-child(2)::before{
    content: "#";
}
#themes div:nth-child(3)::before{
    content: "⁑";
}
#themes div:nth-child(4)::after{
    content: "//";
}#themes div:nth-child(4)::before{
    content: "//";
}
#themes div:nth-child(5)::before{
    content: "{";
}
#themes div:nth-child(5)::after{
       content: "}";
}
#themes div:nth-child(6)::before{
    content: "#";
}
#themes div:nth-child(7)::before{
    content: "⁑";
}
#themes div:nth-child(8)::before{
    content: "*";
}
#themes div:nth-child(8)::after{
       content: "*";
}
#themes div:nth-child(9)::before{
    content: "//";
}
#themes div:nth-child(9)::after{
       content: "//";
}
#themes div:nth-child(10)::before{
    content: "{";
}
#themes div:nth-child(10)::after{
       content: "}";
}#themes div:nth-child(11)::before{
    content: "#";
}
#themes div:nth-child(12)::before{
    content: "⁑";
}#themes div:nth-child(13)::before{
    content: "*";
}#themes div:nth-child(14)::before{
    content: "//";
}
#themes div:nth-child(14)::after{
       content: "//";
}
#themes div:nth-child(15)::before{
    content: "{";
}
#themes div:nth-child(15)::after{
       content: "}";
}#themes div:nth-child(16)::before{
    content: "#";
}
#themes div:nth-child(17)::before{
    content: "⁑";
}#themes div:nth-child(18)::before{
    content: "*";
}


#filtres {
  position: absolute;
  left: 35%;
  width: 40%;
  box-sizing: border-box;
  top: 70%;
  height: 100%;
  border: 0;
  overflow-y: auto;
  justify-content: center;
}

main {
  position: absolute;
  left: 2%;
  width: 28%;
  box-sizing: border-box;
  top: 2%;
  height: 100%;
  border: 0;
  overflow-y: auto;
}

main::before{
    content: "*"; 
    position: absolute;
    font-family:'Adelphe_Trouble_Regular'; 
    font-size: 250px;
    color: rgb(0, 255, 0); 
    z-index: -1; 
    pointer-events: none; 
    top:10%;
}


main a{  
  padding: 10px 20px;
  border: 2px solid blue;
  border-radius: 100%;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  font-family: "Adelphe_Trouble";
  font-size: 22pt;
  text-align: center;
}

main p {
    visibility: hidden;
}

h1 {
 width: 30%;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 37%;
  top: 10%;
  text-align: justify;
  font-family: "Adelphe_Trouble_Regular";
  font-size: 30pt;
  color: blue;

}

p {
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  margin-top: 30%;
  position: absolute;
  left: 33%;
  width: 40%;
  box-sizing: border-box;
  top: -18%;
  height: 100%;
  border: 0;
  font-family: "Adelphe_Trouble_Regular";
  color: blue;
  display: flex;
  font-size: 20pt;
}

#date {
  position: absolute;
  left: 30%;
  width: 40%;
  box-sizing: border-box;
  top: 9%;
  height: 100%;
  border: 0;
  overflow-y: auto;
}
