
@font-face {
    font-family: 'Format_1452';
    src: url('/article/léon/images/Format_1452.otf') format('truetype');
}
@font-face {
    font-family: 'Galter';
    src: url('/article/léon/images/Galter.otf') format('truetype');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #0073ff;
    font-family: 'Galter';
    padding: 20px;
    color: #000;
    position: relative;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/articles/léon/images/hmm.png');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.3;
    z-index: -1;
}


#themes {
    display: none !important;
}

h1 {
    font-family: 'Format_1452';
    font-size: 2.3rem;
    margin-bottom: 20px;
}

#filtres {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 1em;
    border-radius: 20px;
    margin-bottom: 30px;
    overflow-x: auto;
    background-color: #cccccc;
}

#filtres h2,
#filtres p {
    font-size: 1.2rem;
    color: white;
    background-color: rgb(48, 48, 48);
    border-radius: 40px;
    padding: 10px 20px;
    flex-shrink: 0;
}

#filtres select,
#filtres input[type="range"] {
    margin-top: 5px;
}

#auteurices-tabs {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 5px;
}

#auteurices-tabs button {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

#auteurices-tabs button.active {
    background-color: #0073ff;
    color: rgb(174, 174, 174);
    border-color: #0073ff;
}

#auteurices-tabs button:hover {
    background-color: #e0e0e0;
}

main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
}

main a {
    text-decoration: none;
    color: inherit;
}

main a div {
    background: rgb(60, 110, 189);
    padding: 20px;
    border-radius: 30px;
    min-height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid #00000020;
    transition: transform 0.15s, box-shadow 0.15s;
}

main a div:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 12px #00000030;
}


h3 {
    font-family: 'Galter';
    margin-bottom: 10px;
    font-size: 1.1rem;
}


footer p {
    font-size: 0.8rem;
    margin: 3px 0;
}

.tag {
    display: inline-block;
    background: #a29090;
    color: rgb(142, 221, 253);
    padding: 2px 6px;
    border-radius: 10px;
    font-size: 0.7rem;
    margin-right: 4px;
}


.thumb {
    display: none;
}
