
@font-face {
  font-family: 'ATA';
  src: url(../../articles/mariia/images/NewtonScient.ttf);
}

@font-face {
  font-family: 'RGAO';
  src: url(../../articles/mariia/images/RomauntGaolines.ttf);
}

@font-face {
  font-family: 'PRMT';
  src: url(../../articles/mariia/images/premint-Regular.otf);
}

body{
    background-color: #f0ede4;
    font-family: 'ATA';
    color: #1d1d1d;
}

.preview {
   height: 5px;
}

.title {
    font-size: 100px;
    color: #ccff00;
}

img {
    display: block;
   margin: 0 auto;
    filter: grayscale(100%);

    
}
img:hover {
  filter: grayscale(0%);
  
}



/* IMAGE HIDDEN BY DEFAULT */
main a div img.thumb {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease, max-height 0.5s ease;
}

/* IMAGE REVEALS WHEN HOVERING TITLE */
main a:hover img.thumb  {
    opacity: 1;
    max-height: 500px;  
}



text {
  padding: 20%;    /* відступи з боків */
  text-align: center;   /* вирівнювання тексту всередині блоку */
}

h1 {
  color: #005eeb;
  text-align: center;  
  border-bottom: 3px dotted #0259db;
  padding-bottom: .3rem;
  font-size: 60px; 
  position: relative;
 }



p {
  font-family: 'PRMT';
  text-transform: uppercase;
  letter-spacing: 2px;
  opacity: 0.8;
  font-size: 20.7px;
  max-width: 100%;
  text-align: center; 
  color: #0259db;
  position: relative; /* щоб ::before/::after відносно нього */
}


p::before {
  content: '';
  display: inline-block;
  width: 190px; /* довжина лінії */
  height: 2px;
  background: #0259db;
  margin-right: 20px; /* відстань до тексту */
  vertical-align: middle;
}
p::after {
  content: '';
  display: inline-block;
  width: 190px; /* довжина лінії */
  height: 2px;
  background: #0259db;
  margin-left: 20px; /* відстань до тексту */
  vertical-align: middle;
}

p:nth-child(1) {
  color: #0259db;
  font-weight: 600;
  font-size: 20px;
  opacity: 1;
}
p:nth-child(2) {
  color: #0259db;
  font-weight: 600;
  text-align: right;
}
p:nth-child(3) {
  color: #0259db;
  font-weight: 600;
  text-align: right;
}



legend {
  color: #0259db;
  font-weight: 600;
  font-size: 20px;
}



a div {
    display: flex;
    gap: 15px;
    align-items: flex-start;
}

a div .thumb {
    width: 150px;
    height: 120px;
    object-fit: cover;
    border-radius: 1px;
}


#themes {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 50;
    
    display: flex;
    gap: 15px;

    padding: 10px 12px;
    background: rgba(255,255,255,0.6);
    backdrop-filter: blur(8px);
    
    border-radius: 8px;
}

#themes label {
    display: inline-block;
    padding: 6px 10px;
    background: #fffffe;
    font-family: 'PRMT';
    color: #0259db;
    border: 1px solid #d0d0d0;
    border-radius: 4px;
    margin: 0 4px;

    /* The torn edge */
    clip-path: polygon(
        0 0, 100% 0,
        100% 70%, 95% 80%,
        90% 70%, 85% 78%,
        80% 70%, 75% 82%,
        70% 72%, 65% 80%,
        60% 70%, 55% 82%,
        50% 70%, 45% 80%,
        40% 72%, 35% 78%,
        30% 70%, 25% 80%,
        20% 72%, 15% 78%,
        10% 70%, 5% 80%,
        0 70%
    );

    transition: 0.25s ease;
}



#themes label:hover {
    letter-spacing: 5px;
    transform: scale(1.2) rotate(-1deg);
    color: #0259db;
}



main h3 {
  color: #0259db;
    position: relative;
    display: inline-block;
    padding-bottom: 4px;
    font-size: 30px;
    font-family: 'RGAO';
    text-align: right;
}

main h3:hover {
  color: #0c6dff;
 transform: scale(0.9);
 animation-delay: 2s;
 transition: 0.3s ease;
    
}


main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 20px;
    padding: 1rem;
}

main a div {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    background: #fffffe;
    display: flex;
    flex-direction: column; 
    gap: 1rem;
}

main a div img.thumb {
    width: 100%; 
    height: auto;
    object-fit: cover;
    border-radius: 6px;
}



#themes div:last-child {
    border-bottom: none;
}




#filtres {
  display: flex;               
  justify-content: center;     
  align-items: center;        
  gap: 20px;                   
  padding: 25px 0;             
}

#filtres > div {
  display: flex;
  flex-direction: column;      
  align-items: center;         
}

#filtres h2 {
    
    font-size: 30px;        
    color: #0259db;         
    text-align: left;     
    margin-right: 35px;   
    letter-spacing: 1px;   
}


#filtres p {
    font-family: 'PRMT';
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 6px;
}


main a {
    text-decoration: none;  
    color: inherit;         
}



main a div {
    position: relative;
}


main a div::after {
    content: "";
    position: absolute;
    top: 10px;          
    left: 85%;            
    transform: translateX(-50%) scale(0.6) rotate(-15deg);
    
    width: 20px;           
    height: 20px;
    background: #0259db;
    opacity: 0;
    transition: 0.3s ease;

    clip-path: polygon(
        50% 0%, 61% 35%, 98% 35%,
        68% 57%, 79% 91%, 
        50% 70%, 21% 91%, 
        32% 57%, 2% 35%, 
        39% 35%
    );
}

/* Star appears on hover */
main a:hover div::after {
    opacity: 1;
    transform: scale(1.30) rotate(0deg);
}



#themes {
    position: absolute;
    top: 0px;
    z-index: 50;
    display: flex;        
    align-items: right;
    gap: 5px;/* distance between names */
    white-space: nowrap;    
    font-family: 'PRMT';
    border: none;
    margin: 0px 20px;
    padding: 0px;
}
#themes legend {
    display: none;
}

#themes > div {
    display: inline-flex;   
    align-items: left;
    gap: 0px; /* distance between names and their buttons */
}

#themes label {
    display: inline-block;
    padding: 5px 5px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s, color 0.3s;
}


input[type="radio"] {
    appearance: none;
    width: 15px;
    height: 15px;
    cursor: pointer;
    background: #000000;
    clip-path: polygon(
        50% 0%, 61% 35%, 98% 35%,
        68% 57%, 79% 91%, 
        50% 70%, 21% 91%, 
        32% 57%, 2% 35%, 
        39% 35%
    );
    transition: transform 0.15s ease;
}

input[type="radio"]:checked {
    background: #0259db;
    transform: scale(1.25) rotate(8deg);
    box-shadow: 0 0 8px #ffe169aa;
}



main a div {
    position: relative;
    border-radius: 8px;
    padding: 1rem;
    background: #fffefc;
    border: 1px solid #ddd;
}


main a div::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -7px; 
    width: 15px;

    background: radial-gradient(circle at left,
        transparent 0,
        transparent 8px,
        #0259db 8px);

    background-size: 20px 40px;
    background-repeat: repeat-y;
}



