body {

}


fieldset{
    display: flex;
  flex-direction: column;
  align-items: flex-end;

}

h1{
    @font-face {
        font-family:dotted_newspaper ;
        src: url (dotted_newspaper.ttf) format(truetyoe);
    }
    
}