fieldset{
    position: fixed;
    bottom: 1em;
}

fieldset div{
    display: inline-block;
}

fieldset{
    background-color: white;
    border: none;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    border-radius: 5px;
}