@font-face {
    font-family: "Baskerville";
    src: url("articles/elisa/images/Baskerville.ttc") format("ttc"),
}

body {
    margin: 10px;
    min-height: 100vh;
    background-color: antiquewhite;
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
}

h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    font-weight:bolder;
    color: antiquewhite;
    padding: 10px;
    background: linear-gradient(135deg, rgb(163, 5, 18), rgb(103, 156, 216));
}

header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    font-weight: bolder;
    color: rgb(163, 5, 18);
}

strong {
    font-family:'Courier New', Courier, monospace;
    font-size: 25px;
    color: antiquewhite;
    background: linear-gradient(135deg, rgb(163, 5, 18), rgb(103, 156, 216));
}