body{
    background-color: #fff9f9;
}
 @font-face {
   font-family:"HENTZAU 2";
   src: url("../../articles/esther/images/HENTZAU-2.TTF") format("opentype");
} 
@font-face {
   font-family:"Rot-ProtoRoman102R 2";
   src: local("Rot-ProtoRoman102R 2"), url("../../articles/esther/images/Rot-ProtoRoman102R\ 2.otf") format("opentype");
} 
@font-face {
   font-family:"sinistreregular";
   src: local("sinistreragular"), url("../../articles/esther/images/SINISTRE/sinistreregular.otf") format("opentype");
} 


#themes legend{
   display: none;
}

.thumb{
    display: none;
}
img{
   display: none;
}


body{
    background-color: #fff9f9;
 font-family:"Rot-ProtoRoman102R 2", serif;
 font-size: large;
 
}
h1{
   font-family:"sinistreregular";
   font-size: 45px;
   margin: 0%;
    text-decoration-line: underline;
    text-align:right;
    bottom: 0%;
    top:130%;
    right: 0;
    text-align: right;
    position:absolute;
    color: #000;

   }

   #themes{
   border-radius: 0;
   border-width: 0;
   text-align: center;
    font-family: "sinistreregular";
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:17px;
    color: #000;
    position: relative;
   }

   #themes div{
      width:300px;
      height: 50px;
      border-radius: 70px;
      background-color: #f1ebeb;
      text-align: center;
            display: flex;
    align-items: center;
    justify-content: center;
     
     
   }
   article{
border-radius: 2px;
 border-style: dotted;
 margin: 10px;
 text-align:right;
   transform: scale(1.02);
    box-shadow: 0 0 22px #dbd6d6;
    color: #750a11;
   
   }

article a:hover {
   transition: all 0.5s linear;
   font-variant: small-caps;
}



   header{
    display: none;
   }


   input[type="radio"]{
      position: absolute;
      margin: 0;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
   }

  @media (max-width: 600px) {
   #themes div{
      width: 100px;
   }
}