

body{
    background-color: aqua;
    font-family: "KG Primary", Geneva, Tahoma, sans-serif;
    font-size: medium;
}

#layout {
    display: flex;
    width: 100%;
} 

#sidebar {
    width: 25%;              /* largeur ajustable */
    min-width: 220px;     
    background-color: aqua;
    padding: 10px;
    box-sizing: border-box;
}

#filters {
    margin-bottom: 20px;
}

#themes{
 display: flex;
 flex-direction: column; 
 gap: 10px;
 background-color: aqua;
}

#content {
    width: 75%;            
    padding: 20px;
    box-sizing: border-box;
}

#legend{
    background-color: aqua;
    scrollbar-width: none;
}

#themes div{
 flex-shrink: 0;
}


a{
    color:rgb(252, 15, 133);
}

header{
    color:rgb(252, 15, 133);
}

article {
    background: rgba(255, 255, 255, 0.6); /* flottant style piscine */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}