

body{
    background-image:url(../../articles/lohann/images/eau-dans-differents-environnements_23-2151919155.webp);
    background-size:contain;
    font-family: "KG Primary", Geneva, Tahoma, sans-serif;
    font-size: medium;
}


#filters {
    margin-bottom: 10px;
}

#themes{
 display:flex;
 gap: 10px;
 flex-wrap: wrap;
}

#themes div {
    flex-shrink: 0;
    list-style-type: none; /* Enlève les puces de base */
    background: url('path_to_your_fish_image.png') no-repeat left center; /* Remplace 'path_to_your_fish_image.png' par ton URL de l'image du poisson */
    padding-left: 30px; /* Ajuste l'espace pour l'image du poisson */
    margin-bottom: 10px;
    font-size: 1.1em;
}

#content {
    width: 75%;
    padding: 20px;
    box-sizing: border-box;
}

#legend{
    background-color: aqua;
    scrollbar-width: none;
    overflow: hidden;
}

#themes div{
 flex-shrink: 0;
}


a{
    color:rgb(252, 15, 133);
}

header{
    color:rgb(252, 15, 133);
}

article {
    background: rgba(255, 255, 255, 0.6); /* flottant style piscine */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}