@font-face {
  font-family: 'VCR';
  src: url('../../articles/mariia/images/PepperXCupa-Regular.ttf');
}
@font-face {
  font-family: 'HAIR';
  src: url('../../articles/mariia/images/HAIROFTH.TTF');
}
@font-face {
  font-family: 'ATA';
  src: url(../../articles/mariia/images/Atavyros.otf);
}

body{
    font-family: 'ATA';
    background-color: #988d83;
    
}
.title {
    font-size: 60px;
    font-family: 'HAIR';
    color: #4e443c;
}

.woman {
    height: 50%;
}