body{
   
    background: linear-gradient(#e66465, #9198e5)
}
    @font-face {
  font-family: "baskervville";
  src:
    local("baskervville"),
    url("Baskervville-Regular.otf") format("opentype")

     color: black;
}