body{
   
    background-color: #c3b5dc;
    background: linear-gradient(#e66465, #9198e5)

    @font-face {
  font-family: "baskerville";
  src:
    local("baskerville"),
    url("baskerville.otf") format("opentype")

     color: black;
}